In [1]:
import pandas as pd
import re
import warnings
warnings.filterwarnings("ignore")


import sys 
an = sys.path.append("/src/analysis.py")

In [5]:
salud y contaminacion
worldbank.com para salud
income companies.

SyntaxError: invalid syntax (1403071800.py, line 1)

IMPORT supermarket

In [6]:
super = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\Supermart_Grocery_Sales.csv")
super

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355,0.26,918.45,Tamil Nadu
...,...,...,...,...,...,...,...,...,...,...,...
9989,OD9990,Sudeep,"Eggs, Meat & Fish",Eggs,Madurai,12/24/2015,West,945,0.16,359.10,Tamil Nadu
9990,OD9991,Alan,Bakery,Biscuits,Kanyakumari,07-12-2015,West,1195,0.26,71.70,Tamil Nadu
9991,OD9992,Ravi,Food Grains,Rice,Bodi,06-06-2017,West,1567,0.16,501.44,Tamil Nadu
9992,OD9993,Peer,Oil & Masala,Spices,Pudukottai,10/16/2018,West,1659,0.15,597.24,Tamil Nadu
9993,OD9994,Ganesh,Food Grains,Atta & Flour,Tirunelveli,4/17/2018,West,1034,0.28,165.44,Tamil Nadu

IMPORT Food emissin data set.

In [238]:
food_emisions = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\Food_emissions.csv")
food_emisions.sample()

,Food product,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal),...,Freshwater withdrawals per 100g protein (liters per 100g protein),Freshwater withdrawals per kilogram (liters per kilogram),Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal),Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein),Land use per 1000kcal (m² per 1000kcal),Land use per kilogram (m² per kilogram),Land use per 100g protein (m² per 100g protein),Scarcity-weighted water use per kilogram (liters per kilogram),Scarcity-weighted water use per 100g protein (liters per 100g protein),Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)
20,Tomatoes,0.4,0.0,0.7,0.0,0.2,0.1,0.0,1.4,39.526316,...,3361.818182,369.8,11.0,19.0,4.210526,0.8,7.272727,5335.7,48506.36364,28082.63158

In [239]:
# Drop not necesary columns. 
food_emisions = food_emisions.drop(columns=["Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal)", "Eutrophying emissions per 100g protein (gPO₄eq per 100 grams protein)",
"Freshwater withdrawals per 1000kcal (liters per 1000kcal)", "Freshwater withdrawals per 100g protein (liters per 100g protein)",
"Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein)", "Land use per 1000kcal (m² per 1000kcal)", "Land use per 100g protein (m² per 100g protein)",
"Scarcity-weighted water use per 100g protein (liters per 100g protein)", "Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)"])
food_emisions.sample()

,Food product,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per kilogram (gPO₄eq per kilogram),Freshwater withdrawals per kilogram (liters per kilogram),Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal),Land use per kilogram (m² per kilogram),Scarcity-weighted water use per kilogram (liters per kilogram)
14,Tofu,1.0,0.0,0.5,0.8,0.2,0.2,0.3,3.0,NaN,NaN,NaN,NaN,NaN

In [240]:
#Change names of columns.
food_emisions.rename(columns= {"Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal)": "Eutrophying emissions (gPO₄eq per 1000kcal)", 
                               "Freshwater withdrawals per kilogram (liters per kilogram)":"Freshwater withdrawals (liters per kilogram)", 
                               "Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal)":"Greenhouse gas emissions (kgCO₂eq per 1000kcal)",
                               "Land use per kilogram (m² per kilogram)":"Land use (m² per kilogram)", 
                               "Scarcity-weighted water use per kilogram (liters per kilogram)":"Scarcity-weighted water use (liters per kilogram)"
                               }, inplace = True)

In [238]:
print(list(food_emisions["Food product"]))

['Wheat & Rye (Bread)', 'Maize (Meal)', 'Barley (Beer)', 'Oatmeal', 'Rice', 'Potatoes', 'Cassava', 'Cane Sugar', 'Beet Sugar', 'Other Pulses', 'Peas', 'Nuts', 'Groundnuts', 'Soymilk', 'Tofu', 'Soybean Oil', 'Palm Oil', 'Sunflower Oil', 'Rapeseed Oil', 'Olive Oil', 'Tomatoes', 'Onions & Leeks', 'Root Vegetables', 'Brassicas', 'Other Vegetables', 'Citrus Fruit', 'Bananas', 'Apples', 'Berries & Grapes', 'Wine', 'Other Fruit', 'Coffee', 'Dark Chocolate', 'Beef (beef herd)', 'Beef (dairy herd)', 'Lamb & Mutton', 'Pig Meat', 'Poultry Meat', 'Milk', 'Cheese', 'Eggs', 'Fish (farmed)', 'Shrimps (farmed)']

IMPORT Area data set.

In [21]:
area = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\\area_harvested.csv", engine="python", error_bad_lines=False)
area.sample()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value
20999,QCL,Crops and livestock products,458,Malaysia,5312,Area harvested,112.0,Maize (corn),2011,2011,ha,9759

['Wheat & Rye (Bread)', 'Maize (Meal), 'Cassava', 'Cane Sugar', 'Beet Sugar', , 'Peas', 'Nuts', 'Groundnuts', 'Soymilk', 'Tofu', 'Soybean Oil', 'Palm Oil', 'Sunflower Oil', 'Rapeseed Oil', 'Olive Oil', , 'Onions & Leeks', , 'Brassicas', 'Other Vegetables',, 'Beef (beef herd)', 'Beef (dairy herd)', 'Lamb & Mutton', 'Pig Meat', 'Poultry Meat', 'Milk', 'Cheese', 'Eggs', 'Fish (farmed)', 'Shrimps (farmed)']

In [22]:
import re
# Clean with regex column "Items" to match other Data Frames.
for index, row in area.iterrows():
    re.sub("n\.e\.c\.", "", row[3])
    re.sub(".*Other berries and fruits of the genus vaccinium.*", 'Berries & Grapes', row[3])
    re.sub('.*Onions and shallots, green*.', 'Onions & Leeks', row[3])
    re.sub(".*Beer of barley, malted*.", 'Barley (Beer)', row[3])
    re.sub(".*Barley*.", 'Barley (Beer)', row[3])
    re.sub('.*Brazil nuts, in shell*.', 'Nuts', row[3])
    re.sub(".*Cocoa beans*.", "Chocolate", row[3])
    re.sub('.*Coffee,green*.', "Coffee", row[3])
    re.sub('.*Groundnuts,excluding shelled*.', "Coffee", row[3])
    re.sub('.*Edible roots and tubers with high starch or inulin content,, fresh*.', 'Root Vegetables', row[3])
    re.sub('.*Oats*.', "Oatmeal", row[3])
    re.sub('.*Other citrus fruit,*.', 'Citrus Fruit', row[3])
    re.sub('.*Other fruits*.', 'Other Fruit', row[3])
    re.sub('.*Meat of pig with the bome, fresh or chilled', "Pig", row[3])
    re.sub('.*Meat of cattle with the bone, fresh or chilled', 'Beef', row[3])

In [163]:
print(set(area["Item"]))

{'Maize (corn)', 'Peas, dry', 'Sugar cane', 'Other citrus fruit, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Soya beans', 'Barley', 'Grapes', 'Coffee, green', 'Other pulses n.e.c.', 'Apples', 'Walnuts, in shell', 'Groundnuts, excluding shelled', 'Oats', 'Sugar beet', 'Tomatoes', 'Onions and shallots, green', 'Cocoa beans', 'Hazelnuts, in shell', 'Rice', 'Other fruits, n.e.c.', 'Wheat', 'Bananas', 'Potatoes'}

In [176]:
# Drop columns.
area.drop(columns=["Domain", "Element", "Year", "Unit", "Value"],inplace=True)

['Wheat & Rye (Bread)', 'Maize (Meal)', 'Barley (Beer)', 'Oatmeal', 'Rice', 'Potatoes', 'Cassava', 'Cane Sugar', 'Beet Sugar', 'Other Pulses', 'Peas', 'Nuts', 'Groundnuts', 'Soymilk', 'Tofu', 'Soybean Oil', 'Palm Oil', 'Sunflower Oil', 'Rapeseed Oil', 'Olive Oil', 'Tomatoes', 'Onions & Leeks', 'Root Vegetables', 'Brassicas', 'Other Vegetables', 'Citrus Fruit', 'Bananas', 'Apples', 'Berries & Grapes', 'Wine', 'Other Fruit', 'Coffee', 'Dark Chocolate', 'Beef (beef herd)', 'Beef (dairy herd)', 'Lamb & Mutton', 'Pig Meat', 'Poultry Meat', 'Milk', 'Cheese', 'Eggs', 'Fish (farmed)', 'Shrimps (farmed)']

IMPORT production.

In [69]:
price= pd.read_csv("D:\ironhack\proyectos\_proy4\csv\\producer_price.csv")
price.sample()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Months Code,Months,Unit,Value,Flag,Flag Description
30431,PP,Producer Prices,670,Saint Vincent and the Grenadines,5532,Producer Price (USD/tonne),0112,Maize (corn),2008,2008,7021,Annual value,USD,1486.1,A,Official figure

In [ ]:
price.drop(columns= ["Domain Code", "Domain", ])