In [185]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")
import src.analysis as an
importlib.reload(an)

ModuleNotFoundError: No module named 'src'

In [ ]:
salud y contaminacion
worldbank.com para salud
income companies.

In [2]:
super = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\Supermart_Grocery_Sales.csv")
super

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355,0.26,918.45,Tamil Nadu
...,...,...,...,...,...,...,...,...,...,...,...
9989,OD9990,Sudeep,"Eggs, Meat & Fish",Eggs,Madurai,12/24/2015,West,945,0.16,359.10,Tamil Nadu
9990,OD9991,Alan,Bakery,Biscuits,Kanyakumari,07-12-2015,West,1195,0.26,71.70,Tamil Nadu
9991,OD9992,Ravi,Food Grains,Rice,Bodi,06-06-2017,West,1567,0.16,501.44,Tamil Nadu
9992,OD9993,Peer,Oil & Masala,Spices,Pudukottai,10/16/2018,West,1659,0.15,597.24,Tamil Nadu
9993,OD9994,Ganesh,Food Grains,Atta & Flour,Tirunelveli,4/17/2018,West,1034,0.28,165.44,Tamil Nadu

IMPORT Food emissin data set.

In [227]:
food_emisions = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\Food_Production.csv")
food_emisions.sample()

,Food product,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal),...,Freshwater withdrawals per 100g protein (liters per 100g protein),Freshwater withdrawals per kilogram (liters per kilogram),Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal),Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein),Land use per 1000kcal (m² per 1000kcal),Land use per kilogram (m² per kilogram),Land use per 100g protein (m² per 100g protein),Scarcity-weighted water use per kilogram (liters per kilogram),Scarcity-weighted water use per 100g protein (liters per 100g protein),Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)
30,Other Fruit,0.1,0.0,0.4,0.0,0.2,0.0,0.0,0.7,NaN,...,NaN,153.5,NaN,NaN,NaN,0.89,NaN,9533.1,NaN,NaN

In [228]:
food_emisions.isnull().sum()

Food product                                                                0
Land use change                                                             0
Animal Feed                                                                 0
Farm                                                                        0
Processing                                                                  0
Transport                                                                   0
Packging                                                                    0
Retail                                                                      0
Total_emissions                                                             0
Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal)                   10
Eutrophying emissions per kilogram (gPO₄eq per kilogram)                    5
Eutrophying emissions per 100g protein (gPO₄eq per 100 grams protein)      16
Freshwater withdrawals per 1000kcal (liters per 1000kcal)                  13
Freshwater withdrawals per 100g protein (liters per 100g protein)          17
Freshwater withdrawals per kilogram (liters per kilogram)                   5
Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal)               10
Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein)       16
Land use per 1000kcal (m² per 1000kcal)                                    10
Land use per kilogram (m² per kilogram)                                     5
Land use per 100g protein (m² per 100g protein)                            16
Scarcity-weighted water use per kilogram (liters per kilogram)              5
Scarcity-weighted water use per 100g protein (liters per 100g protein)     17
Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)    13
dtype: int64

In [ ]:
#Change names of columns.
food_emisions.rename(columns= {0: 2021, 1:"Area", 2:"Item"}, inplace = True)

In [ ]:
print(list(food_emisions["Food product"]))

IMPORT Area data set.

In [187]:
area = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\\area_harvested_1.csv", engine="python", error_bad_lines=False)
area.sample()

Skipping line 22545: unexpected end of data

,Domain,Area,Element,Item,Year,Unit,Value
1784,Crops and livestock products,Argentina,Area harvested,"Peas, dry",2012,ha,100000

In [188]:
# iterate 2010
_2010 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2010}
df2010 = pd.DataFrame.from_dict(_2010, orient="index")
df2010.rename(columns= {0: 2010, 1:"Area", 2:"Item"}, inplace = True)

In [191]:
# iterate 2011
_2011 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2011}
df2011 = pd.DataFrame.from_dict(_2011, orient="index")
df2011.rename(columns= {0: 2011, 1:"Area", 2:"Item"}, inplace = True)

In [192]:
# iterate 2012
_2012 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2012}
df2012 = pd.DataFrame.from_dict(_2012, orient="index")
df2012.rename(columns= {0: 2012, 1:"Area", 2:"Item"}, inplace = True)

In [193]:
# iterate 2013
_2013 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2013}
df2013 = pd.DataFrame.from_dict(_2013, orient="index")
df2013.rename(columns= {0: 2013, 1:"Area", 2:"Item"}, inplace = True)

In [194]:
# iterate 2014
_2014 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2014}
df2014 = pd.DataFrame.from_dict(_2014, orient="index")
df2014.rename(columns= {0: 2014, 1:"Area", 2:"Item"}, inplace = True)

In [195]:
# iterate 2015
_2015 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2015}
df2015 = pd.DataFrame.from_dict(_2015, orient="index")
df2015.rename(columns= {0: 2015, 1:"Area", 2:"Item"}, inplace = True)

In [196]:
# iterate 2016
_2016 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2016}
df2016 = pd.DataFrame.from_dict(_2016, orient="index")
df2016.rename(columns= {0: 2016, 1:"Area", 2:"Item"}, inplace = True)

In [197]:
# iterate 2017
_2017 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2017}
df2017 = pd.DataFrame.from_dict(_2017, orient="index")
df2017.rename(columns= {0: 2017, 1:"Area", 2:"Item"}, inplace = True)

In [198]:
# iterate 2018
_2018 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2018}
df2018 = pd.DataFrame.from_dict(_2018, orient="index")
df2018.rename(columns= {0: 2018, 1:"Area", 2:"Item"}, inplace = True)

In [199]:
# iterate 2019
_2019 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2019}
df2019 = pd.DataFrame.from_dict(_2019, orient="index")
df2019.rename(columns= {0: 2019, 1:"Area", 2:"Item"}, inplace = True)

In [200]:
# iterate 2020
_2020 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2020}
df2020 = pd.DataFrame.from_dict(_2020, orient="index")
df2020.rename(columns= {0: 2020, 1:"Area", 2:"Item"}, inplace = True)

In [201]:
# iterate 2021
_2021 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2021}
df2021 = pd.DataFrame.from_dict(_2021, orient="index")
df2021.rename(columns= {0: 2021, 1:"Area", 2:"Item"}, inplace = True)

In [203]:
# Drop columns.
area.drop(columns=["Domain", "Element", "Year", "Unit", "Value"],inplace=True)

In [205]:
# drop duplicates.
area.drop_duplicates(inplace=True)

In [207]:
# Merge all df from diferent years to production.
area = pd.DataFrame.merge(area, df2010, how="left")

In [209]:
area = pd.DataFrame.merge(area, df2011, how="left")

In [210]:
area = pd.DataFrame.merge(area, df2012, how="left")

In [211]:
area = pd.DataFrame.merge(area, df2013, how="left")

In [212]:
area = pd.DataFrame.merge(area, df2014, how="left")

In [213]:
area = pd.DataFrame.merge(area, df2015, how="left")

In [214]:
area = pd.DataFrame.merge(area, df2016, how="left")

In [215]:
area = pd.DataFrame.merge(area, df2017, how="left")

In [216]:
area = pd.DataFrame.merge(area, df2018, how="left")

In [217]:
area = pd.DataFrame.merge(area, df2019, how="left")

In [218]:
area = pd.DataFrame.merge(area, df2020, how="left")

In [219]:
area = pd.DataFrame.merge(area, df2021, how="left")

In [223]:
# Drop duplicates from item and area columns.
area = area.drop_duplicates(subset=["Item", "Area"])

In [224]:
area.groupby["Area"]

TypeError: 'method' object is not subscriptable

IMPORT quantity data set.

In [190]:
production = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\\production_quantity.csv")
production.sample()

,Domain,Area,Element,Item,Year,Unit,Value
32722,Crops and livestock products,Ghana,Production,Maize (corn),2013,tonnes,1764477.0

In [ ]:
# Drop columns.
production.drop(columns=["Domain", "Element"],inplace=True)

In [140]:
# iterate 2010
_2010 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2010}
df2010 = pd.DataFrame.from_dict(_2010, orient="index")
df2010.rename(columns= {0: 2010, 1:"Area", 2:"Item"}, inplace = True)

In [141]:
# iterate 2011
_2011 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2011}
df2011 = pd.DataFrame.from_dict(_2011, orient="index")
df2011.rename(columns= {0: 2011, 1:"Area", 2:"Item"}, inplace = True)

In [142]:
# iterate 2012
_2012 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2012}
df2012 = pd.DataFrame.from_dict(_2012, orient="index")
df2012.rename(columns= {0: 2012, 1:"Area", 2:"Item"}, inplace = True)

In [143]:
# iterate 2013
_2013 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2013}
df2013 = pd.DataFrame.from_dict(_2013, orient="index")
df2013.rename(columns= {0: 2013, 1:"Area", 2:"Item"}, inplace = True)

In [144]:
# iterate 2014
_2014 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2014}
df2014 = pd.DataFrame.from_dict(_2014, orient="index")
df2014.rename(columns= {0: 2014, 1:"Area", 2:"Item"}, inplace = True)

In [153]:
# iterate 2015
_2015 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2015}
df2015 = pd.DataFrame.from_dict(_2015, orient="index")
df2015.rename(columns= {0: 2015, 1:"Area", 2:"Item"}, inplace = True)

In [154]:
# iterate 2016
_2016 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2016}
df2016 = pd.DataFrame.from_dict(_2016, orient="index")
df2016.rename(columns= {0: 2016, 1:"Area", 2:"Item"}, inplace = True)

In [155]:
# iterate 2017
_2017 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2017}
df2017 = pd.DataFrame.from_dict(_2017, orient="index")
df2017.rename(columns= {0: 2017, 1:"Area", 2:"Item"}, inplace = True)

In [156]:
# iterate 2018
_2018 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2018}
df2018 = pd.DataFrame.from_dict(_2018, orient="index")
df2018.rename(columns= {0: 2018, 1:"Area", 2:"Item"}, inplace = True)

In [157]:
# iterate 2019
_2019 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2019}
df2019 = pd.DataFrame.from_dict(_2019, orient="index")
df2019.rename(columns= {0: 2019, 1:"Area", 2:"Item"}, inplace = True)

In [158]:
# iterate 2020
_2020 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2020}
df2020 = pd.DataFrame.from_dict(_2020, orient="index")
df2020.rename(columns= {0: 2020, 1:"Area", 2:"Item"}, inplace = True)

In [159]:
# iterate 2021
_2021 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2021}
df2021 = pd.DataFrame.from_dict(_2021, orient="index")
df2021.rename(columns= {0: 2021, 1:"Area", 2:"Item"}, inplace = True)

In [160]:
# Drop columns.
production.drop(columns=["Year", "Value", "Unit","Domain", "Element"],inplace=True)

In [161]:
# drop duplicates.
production.drop_duplicates(inplace=True)

In [170]:
# Merge all df from diferent years to production.
production = pd.DataFrame.merge(production, df2010, how="left")

In [171]:
production = pd.DataFrame.merge(production, df2011, how="left")

In [172]:
production = pd.DataFrame.merge(production, df2012, how="left")

In [173]:
production = pd.DataFrame.merge(production, df2013, how="left")

In [174]:
production = pd.DataFrame.merge(production, df2014, how="left")

In [177]:
production = pd.DataFrame.merge(production, df2015, how="left")

In [178]:
production = pd.DataFrame.merge(production, df2016, how="left")

In [179]:
production = pd.DataFrame.merge(production, df2017, how="left")

In [180]:
production = pd.DataFrame.merge(production, df2018, how="left")

In [181]:
production = pd.DataFrame.merge(production, df2019, how="left")

In [182]:
production = pd.DataFrame.merge(production, df2020, how="left")

In [183]:
production = pd.DataFrame.merge(production, df2021, how="left")

In [184]:
# Drop duplicates from item and area columns.
production.drop_duplicates(subset=["Item", "Area"])

,Area,Item,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,Apples,59850.00,62041.00,70000.00,78597.00,89403.00,89733.00,140903.00,170443.00,217192.00,250324.00,270857.00,292586.58
1,Afghanistan,Barley,437000.00,305900.00,504000.00,514000.00,521000.00,403000.00,301856.00,94995.00,56781.00,123576.00,127757.00,122692.77
2,Afghanistan,"Hen eggs in shell, fresh",16344.00,17210.00,18000.00,18000.00,18500.00,19833.01,19883.74,20000.00,19905.58,22040.18,22039.10,22248.74
4098,Afghanistan,Maize (corn),301000.00,300120.00,310000.00,312000.00,316000.00,316000.00,311646.00,173912.00,106670.00,184671.00,271776.00,180000.00
4099,Afghanistan,Olive oil,595.68,538.56,538.56,545.93,658.42,711.37,740.90,763.25,812.16,833.25,821.31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
910427,Zimbabwe,Tomatoes,25000.00,22500.00,23500.00,23500.00,24271.13,25322.84,25318.39,25278.36,25306.53,25301.09,25295.33,25300.98
910428,Zimbabwe,Wheat,18000.00,23000.00,53231.78,50966.05,40000.00,45302.00,42008.00,38715.00,45000.00,94685.00,212530.00,337212.00
910429,Zimbabwe,"Whole milk, condensed",712.95,730.87,750.55,759.51,776.69,772.13,764.96,739.13,746.84,759.12,759.00,NaN
910430,Zimbabwe,"Whole milk, evaporated",4705.49,4823.47,4953.61,5012.55,5125.02,5096.70,5049.87,4878.27,4929.81,5010.21,5009.42,NaN
910431,Zimbabwe,Wine,1750.00,1750.00,1750.00,1750.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN