In [1]:
import pandas as pd
import re
import warnings
warnings.filterwarnings("ignore")


import sys 
an = sys.path.append("/src/analysis.py")

In [5]:
salud y contaminacion
worldbank.com para salud
income companies.

SyntaxError: invalid syntax (1403071800.py, line 1)

IMPORT supermarket

In [6]:
super = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\Supermart_Grocery_Sales.csv")
super

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355,0.26,918.45,Tamil Nadu
...,...,...,...,...,...,...,...,...,...,...,...
9989,OD9990,Sudeep,"Eggs, Meat & Fish",Eggs,Madurai,12/24/2015,West,945,0.16,359.10,Tamil Nadu
9990,OD9991,Alan,Bakery,Biscuits,Kanyakumari,07-12-2015,West,1195,0.26,71.70,Tamil Nadu
9991,OD9992,Ravi,Food Grains,Rice,Bodi,06-06-2017,West,1567,0.16,501.44,Tamil Nadu
9992,OD9993,Peer,Oil & Masala,Spices,Pudukottai,10/16/2018,West,1659,0.15,597.24,Tamil Nadu
9993,OD9994,Ganesh,Food Grains,Atta & Flour,Tirunelveli,4/17/2018,West,1034,0.28,165.44,Tamil Nadu

IMPORT Food emissin data set.

In [238]:
food_emisions = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\Food_emissions.csv")
food_emisions.sample()

,Food product,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal),...,Freshwater withdrawals per 100g protein (liters per 100g protein),Freshwater withdrawals per kilogram (liters per kilogram),Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal),Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein),Land use per 1000kcal (m² per 1000kcal),Land use per kilogram (m² per kilogram),Land use per 100g protein (m² per 100g protein),Scarcity-weighted water use per kilogram (liters per kilogram),Scarcity-weighted water use per 100g protein (liters per 100g protein),Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)
20,Tomatoes,0.4,0.0,0.7,0.0,0.2,0.1,0.0,1.4,39.526316,...,3361.818182,369.8,11.0,19.0,4.210526,0.8,7.272727,5335.7,48506.36364,28082.63158

In [239]:
# Drop not necesary columns. 
food_emisions = food_emisions.drop(columns=["Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal)", "Eutrophying emissions per 100g protein (gPO₄eq per 100 grams protein)",
"Freshwater withdrawals per 1000kcal (liters per 1000kcal)", "Freshwater withdrawals per 100g protein (liters per 100g protein)",
"Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein)", "Land use per 1000kcal (m² per 1000kcal)", "Land use per 100g protein (m² per 100g protein)",
"Scarcity-weighted water use per 100g protein (liters per 100g protein)", "Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)"])
food_emisions.sample()

,Food product,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per kilogram (gPO₄eq per kilogram),Freshwater withdrawals per kilogram (liters per kilogram),Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal),Land use per kilogram (m² per kilogram),Scarcity-weighted water use per kilogram (liters per kilogram)
14,Tofu,1.0,0.0,0.5,0.8,0.2,0.2,0.3,3.0,NaN,NaN,NaN,NaN,NaN

In [240]:
#Change names of columns.
food_emisions.rename(columns= {"Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal)": "Eutrophying emissions (gPO₄eq per 1000kcal)", 
                               "Freshwater withdrawals per kilogram (liters per kilogram)":"Freshwater withdrawals (liters per kilogram)", 
                               "Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal)":"Greenhouse gas emissions (kgCO₂eq per 1000kcal)",
                               "Land use per kilogram (m² per kilogram)":"Land use (m² per kilogram)", 
                               "Scarcity-weighted water use per kilogram (liters per kilogram)":"Scarcity-weighted water use (liters per kilogram)"
                               }, inplace = True)

In [238]:
print(list(food_emisions["Food product"]))

['Wheat & Rye (Bread)', 'Maize (Meal)', 'Barley (Beer)', 'Oatmeal', 'Rice', 'Potatoes', 'Cassava', 'Cane Sugar', 'Beet Sugar', 'Other Pulses', 'Peas', 'Nuts', 'Groundnuts', 'Soymilk', 'Tofu', 'Soybean Oil', 'Palm Oil', 'Sunflower Oil', 'Rapeseed Oil', 'Olive Oil', 'Tomatoes', 'Onions & Leeks', 'Root Vegetables', 'Brassicas', 'Other Vegetables', 'Citrus Fruit', 'Bananas', 'Apples', 'Berries & Grapes', 'Wine', 'Other Fruit', 'Coffee', 'Dark Chocolate', 'Beef (beef herd)', 'Beef (dairy herd)', 'Lamb & Mutton', 'Pig Meat', 'Poultry Meat', 'Milk', 'Cheese', 'Eggs', 'Fish (farmed)', 'Shrimps (farmed)']

IMPORT Area data set.

In [241]:
area = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\\area_harvested.csv", engine="python", error_bad_lines=False)
area.sample()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value
9439,QCL,Crops and livestock products,408,Democratic People's Republic of Korea,5312,Area harvested,1341.0,Apples,2020,2020,ha,70787

['Wheat & Rye (Bread)', 'Maize (Meal), 'Cassava', 'Cane Sugar', 'Beet Sugar', , 'Peas', 'Nuts', 'Groundnuts', 'Soymilk', 'Tofu', 'Soybean Oil', 'Palm Oil', 'Sunflower Oil', 'Rapeseed Oil', 'Olive Oil', , 'Onions & Leeks', , 'Brassicas', 'Other Vegetables',, 'Beef (beef herd)', 'Beef (dairy herd)', 'Lamb & Mutton', 'Pig Meat', 'Poultry Meat', 'Milk', 'Cheese', 'Eggs', 'Fish (farmed)', 'Shrimps (farmed)']

In [161]:
import re
# Clean with regex column "Items" to match other Data Frames.
for index, row in area.iterrows():
    re.sub("n\.e\.c\.", "", row[3])
    re.sub(".*Other berries and fruits of the genus vaccinium.*", 'Berries & Grapes', row[3])
    re.sub('.*Onions and shallots, green*.', 'Onions & Leeks', row[3])
    re.sub(".*Beer of barley, malted*.", 'Barley (Beer)', row[3])
    re.sub(".*Barley*.", 'Barley (Beer)', row[3])
    re.sub('.*Brazil nuts, in shell*.', 'Nuts', row[3])
    re.sub(".*Cocoa beans*.", "Chocolate", row[3])
    re.sub('.*Coffee,green*.', "Coffee", row[3])
    re.sub('.*Groundnuts,excluding shelled*.', "Coffee", row[3])
    re.sub('.*Edible roots and tubers with high starch or inulin content,, fresh*.', 'Root Vegetables', row[3])
    re.sub('.*Oats*.', "Oatmeal", row[3])
    re.sub('.*Other citrus fruit,*.', 'Citrus Fruit', row[3])
    re.sub('.*Other fruits*.', 'Other Fruit', row[3])
    re.sub('.*Meat of pig with the bome, fresh or chilled', "Pig", row[3])
    re.sub('.*Meat of cattle with the bone, fresh or chilled', 'Beef', row[3])

In [162]:
for index, row in area.iterrows():
    re.sub("(n\.e\.c\.)", "", row[3])

In [163]:
print(set(area["Item"]))

{'Maize (corn)', 'Peas, dry', 'Sugar cane', 'Other citrus fruit, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Soya beans', 'Barley', 'Grapes', 'Coffee, green', 'Other pulses n.e.c.', 'Apples', 'Walnuts, in shell', 'Groundnuts, excluding shelled', 'Oats', 'Sugar beet', 'Tomatoes', 'Onions and shallots, green', 'Cocoa beans', 'Hazelnuts, in shell', 'Rice', 'Other fruits, n.e.c.', 'Wheat', 'Bananas', 'Potatoes'}

In [164]:
# iterate 2010
_2010 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2010}
df2010 = pd.DataFrame.from_dict(_2010, orient="index")
df2010.rename(columns= {0: 2010, 1:"Area", 2:"Item"}, inplace = True)

In [165]:
# iterate 2011
_2011 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2011}
df2011 = pd.DataFrame.from_dict(_2011, orient="index")
df2011.rename(columns= {0: 2011, 1:"Area", 2:"Item"}, inplace = True)

In [166]:
# iterate 2012
_2012 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2012}
df2012 = pd.DataFrame.from_dict(_2012, orient="index")
df2012.rename(columns= {0: 2012, 1:"Area", 2:"Item"}, inplace = True)

In [167]:
# iterate 2013
_2013 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2013}
df2013 = pd.DataFrame.from_dict(_2013, orient="index")
df2013.rename(columns= {0: 2013, 1:"Area", 2:"Item"}, inplace = True)

In [168]:
# iterate 2014
_2014 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2014}
df2014 = pd.DataFrame.from_dict(_2014, orient="index")
df2014.rename(columns= {0: 2014, 1:"Area", 2:"Item"}, inplace = True)

In [169]:
# iterate 2015
_2015 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2015}
df2015 = pd.DataFrame.from_dict(_2015, orient="index")
df2015.rename(columns= {0: 2015, 1:"Area", 2:"Item"}, inplace = True)

In [170]:
# iterate 2016
_2016 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2016}
df2016 = pd.DataFrame.from_dict(_2016, orient="index")
df2016.rename(columns= {0: 2016, 1:"Area", 2:"Item"}, inplace = True)

In [171]:
# iterate 2017
_2017 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2017}
df2017 = pd.DataFrame.from_dict(_2017, orient="index")
df2017.rename(columns= {0: 2017, 1:"Area", 2:"Item"}, inplace = True)

In [172]:
# iterate 2018
_2018 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2018}
df2018 = pd.DataFrame.from_dict(_2018, orient="index")
df2018.rename(columns= {0: 2018, 1:"Area", 2:"Item"}, inplace = True)

In [173]:
# iterate 2019
_2019 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2019}
df2019 = pd.DataFrame.from_dict(_2019, orient="index")
df2019.rename(columns= {0: 2019, 1:"Area", 2:"Item"}, inplace = True)

In [174]:
# iterate 2020
_2020 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2020}
df2020 = pd.DataFrame.from_dict(_2020, orient="index")
df2020.rename(columns= {0: 2020, 1:"Area", 2:"Item"}, inplace = True)

In [175]:
# iterate 2021
_2021 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2021}
df2021 = pd.DataFrame.from_dict(_2021, orient="index")
df2021.rename(columns= {0: 2021, 1:"Area", 2:"Item"}, inplace = True)

In [176]:
# Drop columns.
area.drop(columns=["Domain", "Element", "Year", "Unit", "Value"],inplace=True)

In [177]:
# drop duplicates.
area.drop_duplicates(inplace=True)

In [178]:
# Merge all df from diferent years to production.
area = pd.DataFrame.merge(area, df2010, how="left")

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [ ]:
area = pd.DataFrame.merge(area, df2011, how="left")

In [ ]:
area = pd.DataFrame.merge(area, df2012, how="left")

In [30]:
area = pd.DataFrame.merge(area, df2013, how="left")

In [31]:
area = pd.DataFrame.merge(area, df2014, how="left")

In [32]:
area = pd.DataFrame.merge(area, df2015, how="left")

In [33]:
area = pd.DataFrame.merge(area, df2016, how="left")

In [34]:
area = pd.DataFrame.merge(area, df2017, how="left")

In [35]:
area = pd.DataFrame.merge(area, df2018, how="left")

In [36]:
area = pd.DataFrame.merge(area, df2019, how="left")

In [37]:
area = pd.DataFrame.merge(area, df2020, how="left")

In [38]:
area = pd.DataFrame.merge(area, df2021, how="left")

In [39]:
# Drop duplicates from item and area columns.
area = area.drop_duplicates(subset=["Item", "Area"])

In [40]:
area

,Area,Item,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,Apples,8550.0,8863.0,9148.0,10341.0,12247.0,13038.0,19365.0,26847.0,28381.0,27559.0,25643.0,26540.0
1,Afghanistan,Barley,212000.0,190000.0,280000.0,278000.0,342472.0,282000.0,219208.0,68179.0,84147.0,84070.0,86099.0,84072.0
2,Afghanistan,Grapes,61132.0,61558.0,61690.0,62118.0,78405.0,78681.0,82450.0,87194.0,87517.0,89593.0,92584.0,96560.0
3,Afghanistan,Maize (corn),183000.0,183000.0,141000.0,142000.0,127000.0,147273.0,151900.0,134225.0,72433.0,94910.0,140498.0,92144.0
4,Afghanistan,"Other citrus fruit, n.e.c.",200.0,200.0,200.0,300.0,300.0,300.0,1662.0,1643.0,1700.0,3391.0,449.0,1403.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,Zimbabwe,Rice,1543.0,1911.0,2833.0,2960.0,3755.0,4626.0,3780.0,3543.0,3371.0,2529.0,1260.0,3466.0
2921,Zimbabwe,Soya beans,42288.0,44672.0,50408.0,50785.0,60616.0,44155.0,39935.0,23515.0,37307.0,33136.0,32874.0,34648.0
2922,Zimbabwe,Sugar cane,40663.0,42828.0,53486.0,46605.0,43121.0,43094.0,43500.0,41000.0,45000.0,46000.0,47000.0,47000.0
2923,Zimbabwe,Tomatoes,3200.0,3146.0,3300.0,3300.0,3370.0,3508.0,3498.0,3481.0,3602.0,3607.0,3564.0,3591.0
2924,Zimbabwe,Wheat,6478.0,8645.0,21377.0,21753.0,18059.0,22114.0,22094.0,22070.0,16700.0,24186.0,44466.0,66434.0

['Wheat & Rye (Bread)', 'Maize (Meal)', 'Barley (Beer)', 'Oatmeal', 'Rice', 'Potatoes', 'Cassava', 'Cane Sugar', 'Beet Sugar', 'Other Pulses', 'Peas', 'Nuts', 'Groundnuts', 'Soymilk', 'Tofu', 'Soybean Oil', 'Palm Oil', 'Sunflower Oil', 'Rapeseed Oil', 'Olive Oil', 'Tomatoes', 'Onions & Leeks', 'Root Vegetables', 'Brassicas', 'Other Vegetables', 'Citrus Fruit', 'Bananas', 'Apples', 'Berries & Grapes', 'Wine', 'Other Fruit', 'Coffee', 'Dark Chocolate', 'Beef (beef herd)', 'Beef (dairy herd)', 'Lamb & Mutton', 'Pig Meat', 'Poultry Meat', 'Milk', 'Cheese', 'Eggs', 'Fish (farmed)', 'Shrimps (farmed)']

IMPORT quantity data set.

IMPORT production.

In [69]:
price= pd.read_csv("D:\ironhack\proyectos\_proy4\csv\\producer_price.csv")
price.sample()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Months Code,Months,Unit,Value,Flag,Flag Description
30431,PP,Producer Prices,670,Saint Vincent and the Grenadines,5532,Producer Price (USD/tonne),0112,Maize (corn),2008,2008,7021,Annual value,USD,1486.1,A,Official figure

In [ ]:
price.drop(columns= ["Domain Code", "Domain", ])