In [42]:
import pandas as pd 
import src.analysis as an

ModuleNotFoundError: No module named 'src'

In [ ]:
salud y contaminacion
worldbank.com para salud
income companies.

In [6]:
super = pd.read_csv("D:\ironhack\proyectos\_proy4\data\Supermart_Grocery_Sales.csv")
super

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355,0.26,918.45,Tamil Nadu
...,...,...,...,...,...,...,...,...,...,...,...
9989,OD9990,Sudeep,"Eggs, Meat & Fish",Eggs,Madurai,12/24/2015,West,945,0.16,359.10,Tamil Nadu
9990,OD9991,Alan,Bakery,Biscuits,Kanyakumari,07-12-2015,West,1195,0.26,71.70,Tamil Nadu
9991,OD9992,Ravi,Food Grains,Rice,Bodi,06-06-2017,West,1567,0.16,501.44,Tamil Nadu
9992,OD9993,Peer,Oil & Masala,Spices,Pudukottai,10/16/2018,West,1659,0.15,597.24,Tamil Nadu
9993,OD9994,Ganesh,Food Grains,Atta & Flour,Tirunelveli,4/17/2018,West,1034,0.28,165.44,Tamil Nadu

In [10]:
food_emisions = pd.read_csv("D:\ironhack\proyectos\_proy4\data\Food_Production.csv")
print(list(food_emisions["Food product"]))

['Wheat & Rye (Bread)', 'Maize (Meal)', 'Barley (Beer)', 'Oatmeal', 'Rice', 'Potatoes', 'Cassava', 'Cane Sugar', 'Beet Sugar', 'Other Pulses', 'Peas', 'Nuts', 'Groundnuts', 'Soymilk', 'Tofu', 'Soybean Oil', 'Palm Oil', 'Sunflower Oil', 'Rapeseed Oil', 'Olive Oil', 'Tomatoes', 'Onions & Leeks', 'Root Vegetables', 'Brassicas', 'Other Vegetables', 'Citrus Fruit', 'Bananas', 'Apples', 'Berries & Grapes', 'Wine', 'Other Fruit', 'Coffee', 'Dark Chocolate', 'Beef (beef herd)', 'Beef (dairy herd)', 'Lamb & Mutton', 'Pig Meat', 'Poultry Meat', 'Milk', 'Cheese', 'Eggs', 'Fish (farmed)', 'Shrimps (farmed)']

In [22]:
area = pd.read_csv("D:\ironhack\proyectos\_proy4\data\\area_harvested_1.csv", engine="python", error_bad_lines=False)
area

C:\Users\ima_n\AppData\Local\Temp\ipykernel_21304\1730887904.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  food_emisions = pd.read_csv("D:\ironhack\proyectos\_proy4\data\\area_harvested_1.csv", engine="python", error_bad_lines=False)
Skipping line 22545: unexpected end of data

,Domain,Area,Element,Item,Year,Unit,Value
0,Crops and livestock products,Afghanistan,Area harvested,Apples,1999,ha,4930
1,Crops and livestock products,Afghanistan,Area harvested,Apples,2000,ha,5598
2,Crops and livestock products,Afghanistan,Area harvested,Apples,2001,ha,5482
3,Crops and livestock products,Afghanistan,Area harvested,Apples,2002,ha,5045
4,Crops and livestock products,Afghanistan,Area harvested,Apples,2003,ha,3935
...,...,...,...,...,...,...,...
22538,Crops and livestock products,Ghana,Area harvested,Other pulses n.e.c.,2015,ha,275464
22539,Crops and livestock products,Ghana,Area harvested,Other pulses n.e.c.,2016,ha,267070
22540,Crops and livestock products,Ghana,Area harvested,Other pulses n.e.c.,2017,ha,270509
22541,Crops and livestock products,Ghana,Area harvested,Other pulses n.e.c.,2018,ha,271015
22542,Crops and livestock products,Ghana,Area harvested,Other pulses n.e.c.,2019,ha,269531

In [36]:
production = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\\production_quantity.csv")
production.sample()

,Domain,Area,Element,Item,Year,Unit,Value
36787,Crops and livestock products,Hungary,Production,Barley,2010,tonnes,943817.0

In [37]:
production.drop(columns=["Domain", "Element"], inplace=True)

In [38]:
production.isnull().sum()

Area     0
Item     0
Year     0
Unit     0
Value    0
dtype: int64

In [39]:
def adding_yearcolumns (df, year):
    _1999 = {index:row[4] for index, row in df.iterrows() if row[2] == year}
    df1999 = pd.DataFrame.from_dict(_1999, orient="index")
    df1999.rename(columns= {0: 1999}, inplace = True)
    return pd.concat([df, df1999], axis = 1)

In [40]:
adding_yearcolumns (production, 1999)

              Area    Item  Year    Unit     Value      1999
0      Afghanistan  Apples  1999  tonnes  35928.15  35928.15
1      Afghanistan  Apples  2000  tonnes  40540.06       NaN
2      Afghanistan  Apples  2001  tonnes  39541.74       NaN
3      Afghanistan  Apples  2002  tonnes  35630.08       NaN
4      Afghanistan  Apples  2003  tonnes  28042.99       NaN
...            ...     ...   ...     ...       ...       ...
92653     Zimbabwe    Wine  2009  tonnes   1750.00       NaN
92654     Zimbabwe    Wine  2010  tonnes   1750.00       NaN
92655     Zimbabwe    Wine  2011  tonnes   1750.00       NaN
92656     Zimbabwe    Wine  2012  tonnes   1750.00       NaN
92657     Zimbabwe    Wine  2013  tonnes   1750.00       NaN

[92658 rows x 6 columns]

In [28]:
_1999 = {index:row[4] for index, row in production.iterrows() if row[2] == 1999}

In [29]:
df1999 = pd.DataFrame.from_dict(_1999, orient="index")

In [30]:
df1999.rename(columns= {0: 1999}, inplace = True)

In [31]:
production = pd.concat([production, df1999], axis = 1)

In [32]:
production

              Area    Item  Year    Unit     Value      1999
0      Afghanistan  Apples  1999  tonnes  35928.15  35928.15
1      Afghanistan  Apples  2000  tonnes  40540.06       NaN
2      Afghanistan  Apples  2001  tonnes  39541.74       NaN
3      Afghanistan  Apples  2002  tonnes  35630.08       NaN
4      Afghanistan  Apples  2003  tonnes  28042.99       NaN
...            ...     ...   ...     ...       ...       ...
92653     Zimbabwe    Wine  2009  tonnes   1750.00       NaN
92654     Zimbabwe    Wine  2010  tonnes   1750.00       NaN
92655     Zimbabwe    Wine  2011  tonnes   1750.00       NaN
92656     Zimbabwe    Wine  2012  tonnes   1750.00       NaN
92657     Zimbabwe    Wine  2013  tonnes   1750.00       NaN

[92658 rows x 6 columns]

In [34]:
production[production["Year"] == 1999]

,Area,Item,Year,Unit,Value,1999
0,Afghanistan,Apples,1999,tonnes,35928.15,35928.15
23,Afghanistan,Barley,1999,tonnes,216000.00,216000.00
46,Afghanistan,"Hen eggs in shell, fresh",1999,tonnes,18300.00,18300.00
69,Afghanistan,"Hen eggs in shell, fresh",1999,1000 No,366000.00,366000.00
92,Afghanistan,Maize (corn),1999,tonnes,240000.00,240000.00
...,...,...,...,...,...,...
92553,Zimbabwe,Tomatoes,1999,tonnes,12000.00,12000.00
92576,Zimbabwe,Wheat,1999,tonnes,260909.00,260909.00
92599,Zimbabwe,"Whole milk, condensed",1999,tonnes,1000.00,1000.00
92621,Zimbabwe,"Whole milk, evaporated",1999,tonnes,6600.00,6600.00
92643,Zimbabwe,Wine,1999,tonnes,1650.00,1650.00

Series([], Name: Year, dtype: bool)

In [112]:
_1999 = {}
_2000 = []
_2001 = []
_2002 = []
_2003 = []
_2004 = []
_2005 = []
_2006 = []
_2007 = []
_2008 = []
_2009 = []
_2010 = []
_2011 = []
_2012 = []
_2013 = []
_2014 = []
_2015 = []
_2016 = []
_2017 = []
_2018 = []
_2019 = []
_2020 = []
_2021 = []
for index, row in production.iterrows():
    if row[2] == 1999:
        _1999.append(row[4])
    elif row[4] == 2000:    
        _2000.append(row[6])
    elif row[4] == 2000:    
        _2001.append(row[6])    
    elif row[4] == 2000:    
        _2002.append(row[6])
    elif row[4] == 2000:    
        _2003.append(row[6]) 
    elif row[4] == 2000:    
        _2004.append(row[6])
    elif row[4] == 2000:    
        _2005.append(row[6])    
    elif row[4] == 2000:    
        _2006.append(row[6])
    elif row[4] == 2000:    
        _2007.append(row[6]) 
    elif row[4] == 2000:    
        _2008.append(row[6])
    elif row[4] == 2000:    
        _2009.append(row[6])    
    elif row[4] == 2000:    
        _2010.append(row[6])
    elif row[4] == 2000:    
        _2011.append(row[6]) 
    elif row[4] == 2000:    
        _2012.append(row[6])
    elif row[4] == 2000:    
        _2013.append(row[6])    
    elif row[4] == 2000:    
        _2014.append(row[6])
    elif row[4] == 2000:    
        _2015.append(row[6])         
    elif row[4] == 2000:    
        _2016.append(row[6]) 
    elif row[4] == 2000:    
        _2017.append(row[6])
    elif row[4] == 2000:    
        _2018.append(row[6])    
    elif row[4] == 2000:    
        _2019.append(row[6])
    elif row[4] == 2000:    
        _2020.append(row[6]) 
    elif row[4] == 2000:    
        _2021.append(row[6])

KeyError: 2

0

In [94]:
dict = pd.DataFrame(dict)