In [246]:
import pandas as pd
import re
import warnings
warnings.filterwarnings("ignore")
import src.analysis as an
importlib.reload(an)

ModuleNotFoundError: No module named 'src'

In [ ]:
salud y contaminacion
worldbank.com para salud
income companies.

In [2]:
super = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\Supermart_Grocery_Sales.csv")
super

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355,0.26,918.45,Tamil Nadu
...,...,...,...,...,...,...,...,...,...,...,...
9989,OD9990,Sudeep,"Eggs, Meat & Fish",Eggs,Madurai,12/24/2015,West,945,0.16,359.10,Tamil Nadu
9990,OD9991,Alan,Bakery,Biscuits,Kanyakumari,07-12-2015,West,1195,0.26,71.70,Tamil Nadu
9991,OD9992,Ravi,Food Grains,Rice,Bodi,06-06-2017,West,1567,0.16,501.44,Tamil Nadu
9992,OD9993,Peer,Oil & Masala,Spices,Pudukottai,10/16/2018,West,1659,0.15,597.24,Tamil Nadu
9993,OD9994,Ganesh,Food Grains,Atta & Flour,Tirunelveli,4/17/2018,West,1034,0.28,165.44,Tamil Nadu

IMPORT Food emissin data set.

In [266]:
food_emisions = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\Food_emissions.csv")
food_emisions.sample()

,Food product,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal),...,Freshwater withdrawals per 100g protein (liters per 100g protein),Freshwater withdrawals per kilogram (liters per kilogram),Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal),Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein),Land use per 1000kcal (m² per 1000kcal),Land use per kilogram (m² per kilogram),Land use per 100g protein (m² per 100g protein),Scarcity-weighted water use per kilogram (liters per kilogram),Scarcity-weighted water use per 100g protein (liters per 100g protein),Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)
12,Groundnuts,0.4,0.0,1.4,0.4,0.1,0.1,0.0,2.4,2.437931,...,707.524828,1852.3,0.556897,1.233766,1.57069,9.11,3.479756,61797.9,23605.00382,10654.81034

In [267]:
# Drop not necesary columns. 
food_emisions = food_emisions.drop(columns=["Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal)", "Eutrophying emissions per 100g protein (gPO₄eq per 100 grams protein)",
"Freshwater withdrawals per 1000kcal (liters per 1000kcal)", "Freshwater withdrawals per 100g protein (liters per 100g protein)",
"Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein)", "Land use per 1000kcal (m² per 1000kcal)", "Land use per 100g protein (m² per 100g protein)",
"Scarcity-weighted water use per 100g protein (liters per 100g protein)", "Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)"])
food_emisions.sample()

,Food product,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per kilogram (gPO₄eq per kilogram),Freshwater withdrawals per kilogram (liters per kilogram),Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal),Land use per kilogram (m² per kilogram),Scarcity-weighted water use per kilogram (liters per kilogram)
39,Cheese,4.5,2.3,13.1,0.7,0.1,0.2,0.3,21.2,98.37,5605.2,6.170543,87.79,180850.6

In [268]:
#Change names of columns.
food_emisions.rename(columns= {"Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal)": "Eutrophying emissions (gPO₄eq per 1000kcal)", 
                               "Freshwater withdrawals per kilogram (liters per kilogram)":"Freshwater withdrawals (liters per kilogram)", 
                               "Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal)":"Greenhouse gas emissions (kgCO₂eq per 1000kcal)",
                               "Land use per kilogram (m² per kilogram)":"Land use (m² per kilogram)", 
                               "Scarcity-weighted water use per kilogram (liters per kilogram)":"Scarcity-weighted water use (liters per kilogram)"
                               }, inplace = True)

In [238]:
print(list(food_emisions["Food product"]))

['Wheat & Rye (Bread)', 'Maize (Meal)', 'Barley (Beer)', 'Oatmeal', 'Rice', 'Potatoes', 'Cassava', 'Cane Sugar', 'Beet Sugar', 'Other Pulses', 'Peas', 'Nuts', 'Groundnuts', 'Soymilk', 'Tofu', 'Soybean Oil', 'Palm Oil', 'Sunflower Oil', 'Rapeseed Oil', 'Olive Oil', 'Tomatoes', 'Onions & Leeks', 'Root Vegetables', 'Brassicas', 'Other Vegetables', 'Citrus Fruit', 'Bananas', 'Apples', 'Berries & Grapes', 'Wine', 'Other Fruit', 'Coffee', 'Dark Chocolate', 'Beef (beef herd)', 'Beef (dairy herd)', 'Lamb & Mutton', 'Pig Meat', 'Poultry Meat', 'Milk', 'Cheese', 'Eggs', 'Fish (farmed)', 'Shrimps (farmed)']

IMPORT Area data set.

In [307]:
area = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\\area_harvested.csv", engine="python", error_bad_lines=False)
area.sample()

,Domain,Area,Element,Item,Year,Unit,Value
10828,Crops and livestock products,Dominican Republic,Area harvested,Rice,2014,ha,163157

['Wheat & Rye (Bread)', 'Maize (Meal)', 'Barley (Beer)', 'Oatmeal', 'Rice', 'Potatoes', 'Cassava', 'Cane Sugar', 'Beet Sugar', 'Other Pulses', 'Peas', 'Nuts', 'Groundnuts', 'Soymilk', 'Tofu', 'Soybean Oil', 'Palm Oil', 'Sunflower Oil', 'Rapeseed Oil', 'Olive Oil', 'Tomatoes', 'Onions & Leeks', 'Root Vegetables', 'Brassicas', 'Other Vegetables', 'Citrus Fruit', 'Bananas', 'Apples', 'Berries & Grapes', 'Wine', 'Other Fruit', 'Coffee', 'Dark Chocolate', 'Beef (beef herd)', 'Beef (dairy herd)', 'Lamb & Mutton', 'Pig Meat', 'Poultry Meat', 'Milk', 'Cheese', 'Eggs', 'Fish (farmed)', 'Shrimps (farmed)']

In [315]:
# Clean with regex column "Items" to match other Data Frames.
for index, row in area.iterrows():
    re.sub("n\.e\.c\.", "", row[3])
    re.sub(".*Other berries and fruits of the genus vaccinium.*", 'Berries & Grapes', row[3])
    re.sub('.*Onions and shallots, green*.', 'Onions & Leeks', row[3])

In [308]:
# iterate 2010
_2010 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2010}
df2010 = pd.DataFrame.from_dict(_2010, orient="index")
df2010.rename(columns= {0: 2010, 1:"Area", 2:"Item"}, inplace = True)

In [273]:
# iterate 2011
_2011 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2011}
df2011 = pd.DataFrame.from_dict(_2011, orient="index")
df2011.rename(columns= {0: 2011, 1:"Area", 2:"Item"}, inplace = True)

In [274]:
# iterate 2012
_2012 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2012}
df2012 = pd.DataFrame.from_dict(_2012, orient="index")
df2012.rename(columns= {0: 2012, 1:"Area", 2:"Item"}, inplace = True)

In [275]:
# iterate 2013
_2013 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2013}
df2013 = pd.DataFrame.from_dict(_2013, orient="index")
df2013.rename(columns= {0: 2013, 1:"Area", 2:"Item"}, inplace = True)

In [276]:
# iterate 2014
_2014 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2014}
df2014 = pd.DataFrame.from_dict(_2014, orient="index")
df2014.rename(columns= {0: 2014, 1:"Area", 2:"Item"}, inplace = True)

In [277]:
# iterate 2015
_2015 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2015}
df2015 = pd.DataFrame.from_dict(_2015, orient="index")
df2015.rename(columns= {0: 2015, 1:"Area", 2:"Item"}, inplace = True)

In [278]:
# iterate 2016
_2016 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2016}
df2016 = pd.DataFrame.from_dict(_2016, orient="index")
df2016.rename(columns= {0: 2016, 1:"Area", 2:"Item"}, inplace = True)

In [279]:
# iterate 2017
_2017 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2017}
df2017 = pd.DataFrame.from_dict(_2017, orient="index")
df2017.rename(columns= {0: 2017, 1:"Area", 2:"Item"}, inplace = True)

In [280]:
# iterate 2018
_2018 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2018}
df2018 = pd.DataFrame.from_dict(_2018, orient="index")
df2018.rename(columns= {0: 2018, 1:"Area", 2:"Item"}, inplace = True)

In [281]:
# iterate 2019
_2019 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2019}
df2019 = pd.DataFrame.from_dict(_2019, orient="index")
df2019.rename(columns= {0: 2019, 1:"Area", 2:"Item"}, inplace = True)

In [282]:
# iterate 2020
_2020 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2020}
df2020 = pd.DataFrame.from_dict(_2020, orient="index")
df2020.rename(columns= {0: 2020, 1:"Area", 2:"Item"}, inplace = True)

In [283]:
# iterate 2021
_2021 = {index:[row[6],row[1],row[3]] for index, row in area.iterrows() if row[4] == 2021}
df2021 = pd.DataFrame.from_dict(_2021, orient="index")
df2021.rename(columns= {0: 2021, 1:"Area", 2:"Item"}, inplace = True)

In [284]:
# Drop columns.
area.drop(columns=["Domain", "Element", "Year", "Unit", "Value"],inplace=True)

In [285]:
# drop duplicates.
area.drop_duplicates(inplace=True)

In [286]:
# Merge all df from diferent years to production.
area = pd.DataFrame.merge(area, df2010, how="left")

In [287]:
area = pd.DataFrame.merge(area, df2011, how="left")

In [288]:
area = pd.DataFrame.merge(area, df2012, how="left")

In [289]:
area = pd.DataFrame.merge(area, df2013, how="left")

In [290]:
area = pd.DataFrame.merge(area, df2014, how="left")

In [291]:
area = pd.DataFrame.merge(area, df2015, how="left")

In [292]:
area = pd.DataFrame.merge(area, df2016, how="left")

In [293]:
area = pd.DataFrame.merge(area, df2017, how="left")

In [294]:
area = pd.DataFrame.merge(area, df2018, how="left")

In [295]:
area = pd.DataFrame.merge(area, df2019, how="left")

In [296]:
area = pd.DataFrame.merge(area, df2020, how="left")

In [297]:
area = pd.DataFrame.merge(area, df2021, how="left")

In [298]:
# Drop duplicates from item and area columns.
area = area.drop_duplicates(subset=["Item", "Area"])

In [301]:
area

,Area,Item,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,Apples,8550.0,8863.0,9148.0,10341.0,12247.0,13038.0,19365.0,26847.0,28381.0,27559.0,25643.0,26540.0
1,Afghanistan,Barley,212000.0,190000.0,280000.0,278000.0,342472.0,282000.0,219208.0,68179.0,84147.0,84070.0,86099.0,84072.0
2,Afghanistan,Grapes,61132.0,61558.0,61690.0,62118.0,78405.0,78681.0,82450.0,87194.0,87517.0,89593.0,92584.0,96560.0
3,Afghanistan,Maize (corn),183000.0,183000.0,141000.0,142000.0,127000.0,147273.0,151900.0,134225.0,72433.0,94910.0,140498.0,92144.0
4,Afghanistan,"Other citrus fruit, n.e.c.",200.0,200.0,200.0,300.0,300.0,300.0,1662.0,1643.0,1700.0,3391.0,449.0,1403.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,Zimbabwe,Rice,1543.0,1911.0,2833.0,2960.0,3755.0,4626.0,3780.0,3543.0,3371.0,2529.0,1260.0,3466.0
2921,Zimbabwe,Soya beans,42288.0,44672.0,50408.0,50785.0,60616.0,44155.0,39935.0,23515.0,37307.0,33136.0,32874.0,34648.0
2922,Zimbabwe,Sugar cane,40663.0,42828.0,53486.0,46605.0,43121.0,43094.0,43500.0,41000.0,45000.0,46000.0,47000.0,47000.0
2923,Zimbabwe,Tomatoes,3200.0,3146.0,3300.0,3300.0,3370.0,3508.0,3498.0,3481.0,3602.0,3607.0,3564.0,3591.0
2924,Zimbabwe,Wheat,6478.0,8645.0,21377.0,21753.0,18059.0,22114.0,22094.0,22070.0,16700.0,24186.0,44466.0,66434.0

['Wheat & Rye (Bread)', 'Maize (Meal)', 'Barley (Beer)', 'Oatmeal', 'Rice', 'Potatoes', 'Cassava', 'Cane Sugar', 'Beet Sugar', 'Other Pulses', 'Peas', 'Nuts', 'Groundnuts', 'Soymilk', 'Tofu', 'Soybean Oil', 'Palm Oil', 'Sunflower Oil', 'Rapeseed Oil', 'Olive Oil', 'Tomatoes', 'Onions & Leeks', 'Root Vegetables', 'Brassicas', 'Other Vegetables', 'Citrus Fruit', 'Bananas', 'Apples', 'Berries & Grapes', 'Wine', 'Other Fruit', 'Coffee', 'Dark Chocolate', 'Beef (beef herd)', 'Beef (dairy herd)', 'Lamb & Mutton', 'Pig Meat', 'Poultry Meat', 'Milk', 'Cheese', 'Eggs', 'Fish (farmed)', 'Shrimps (farmed)']

In [245]:
'Onions and shallots, green'
'Oatmeal', 'oats'

['Apples', 'Barley', 'Maize (corn)', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Rice', 'Sugar beet', 'Sugar cane', 'Walnuts, in shell', 'Wheat', 'Apples', 'Barley', 'Chestnuts, in shell', 'Maize (corn)', 'Onions and shallots, green', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Tomatoes', 'Wheat', 'Apples', 'Bananas', 'Barley', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Onions and shallots, green', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Sugar beet', 'Tomatoes', 'Wheat', 'Bananas', 'Cashew nuts, in shell', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Onions and shallots, green', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Wheat', 'Bananas', 'Cassava, fresh', 'Maize (corn)', 'Other vegetables, fresh n.e.c.', 'Sugar cane', 'Tomatoes', 'Apples', 'Bananas', 'Barley', 'Cassava, fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Apples', 'Barley', 'Maize (corn)', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Sugar beet', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Apples', 'Bananas', 'Barley', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Apples', 'Bananas', 'Barley', 'Maize (corn)', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Soya beans', 'Sugar beet', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Apples', 'Barley', 'Chestnuts, in shell', 'Maize (corn)', 'Onions and shallots, green', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Bananas', 'Cassava, fresh', 'Maize (corn)', 'Onions and shallots, green', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Sugar cane', 'Tomatoes', 'Bananas', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Tomatoes', 'Bananas', 'Barley', 'Cashew nuts, in shell', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Wheat', 'Bananas', 'Cassava, fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Sugar cane', 'Tomatoes', 'Apples', 'Barley', 'Maize (corn)', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Sugar beet', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Apples', 'Bananas', 'Barley', 'Maize (corn)', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Sugar beet', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Apples', 'Barley', 'Maize (corn)', 'Onions and shallots, green', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Sugar beet', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Bananas', 'Cashew nuts, in shell', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Onions and shallots, green', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Bananas', 'Cashew nuts, in shell', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Apples', 'Bananas', 'Barley', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Apples', 'Bananas', 'Barley', 'Cassava, fresh', 'Chestnuts, in shell', 'Cocoa beans', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Wheat', 'Apples', 'Barley', 'Chestnuts, in shell', 'Maize (corn)', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Potatoes', 'Soya beans', 'Sugar beet', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Tomatoes', 'Wheat', 'Apples', 'Bananas', 'Barley', 'Cashew nuts, in shell', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Bananas', 'Cassava, fresh', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Onions and shallots, green', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Rice', 'Tomatoes', 'Apples', 'Bananas', 'Barley', 'Chestnuts, in shell', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Onions and shallots, green', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Bananas', 'Cashew nuts, in shell', 'Cassava, fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Onions and shallots, green', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Walnuts, in shell', 'Bananas', 'Cassava, fresh', 'Coffee, green', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Wheat', 'Bananas', 'Cassava, fresh', 'Coffee, green', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Sugar cane', 'Tomatoes', 'Bananas', 'Cassava, fresh', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Rice', 'Soya beans', 'Sugar cane', 'Bananas', 'Cassava, fresh', 'Chestnuts, in shell', 'Cocoa beans', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Wheat', 'Apples', 'Barley', 'Maize (corn)', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Soya beans', 'Sugar beet', 'Tomatoes', 'Wheat', 'Bananas', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Rice', 'Sugar cane', 'Cassava, fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Rice', 'Sugar cane', 'Wheat', 'Apples', 'Barley', 'Chestnuts, in shell', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Apples', 'Bananas', 'Barley', 'Cashew nuts, in shell', 'Cassava, fresh', 'Chestnuts, in shell', 'Cocoa beans', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Onions and shallots, green', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Sugar cane', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Onions and shallots, green', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, green', 'Rice', 'Tomatoes', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Apples', 'Bananas', 'Barley', 'Cashew nuts, in shell', 'Cassava, fresh', 'Chestnuts, in shell', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Onions and shallots, green', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Sugar cane', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Apples', 'Bananas', 'Barley', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Onions and shallots, green', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Wheat', 'Apples', 'Bananas', 'Barley', 'Cashew nuts, in shell', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Sugar cane', 'Tomatoes', 'Wheat', 'Bananas', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Onions and shallots, green', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Rice', 'Tomatoes', 'Bananas', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Potatoes', 'Rice', 'Sugar beet', 'Sugar cane', 'Tomatoes', 'Bananas', 'Cassava, fresh', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Tomatoes', 'Bananas', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Onions and shallots, green', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Apples', 'Bananas', 'Barley', 'Chestnuts, in shell', 'Maize (corn)', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Bananas', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Apples', 'Bananas', 'Barley', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Onions and shallots, green', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Apples', 'Bananas', 'Barley', 'Maize (corn)', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Apples', 'Barley', 'Chestnuts, in shell', 'Maize (corn)', 'Onions and shallots, green', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Rice', 'Soya beans', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Bananas', 'Barley', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Wheat', 'Apples', 'Bananas', 'Barley', 'Maize (corn)', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Tomatoes', 'Wheat', 'Maize (corn)', 'Onions and shallots, green', 'Other vegetables, fresh n.e.c.', 'Tomatoes', 'Bananas', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Sugar cane', 'Tomatoes', 'Bananas', 'Cashew nuts, in shell', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Potatoes', 'Rice', 'Sugar beet', 'Sugar cane', 'Tomatoes', 'Apples', 'Bananas', 'Barley', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Onions and shallots, green', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Sugar cane', 'Tomatoes', 'Wheat', 'Apples', 'Bananas', 'Barley', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Sugar cane', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Apples', 'Bananas', 'Cashew nuts, in shell', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Barley', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Potatoes', 'Wheat', 'Apples', 'Bananas', 'Barley', 'Chestnuts, in shell', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Maize (corn)', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Bananas', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Rice', 'Sugar cane', 'Tomatoes', 'Wheat', 'Bananas', 'Barley', 'Coffee, green', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Onions and shallots, green', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar cane', 'Tomatoes', 'Wheat', 'Potatoes', 'Apples', 'Bananas', 'Barley', 'Chestnuts, in shell', 'Maize (corn)', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Apples', 'Bananas', 'Barley', 'Chestnuts, in shell', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Maize (corn)', 'Onions and shallots, green', 'Other berries and fruits of the genus vaccinium n.e.c.', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.c.', 'Other vegetables, fresh n.e.c.', 'Peas, dry', 'Peas, green', 'Potatoes', 'Rice', 'Soya beans', 'Sugar beet', 'Tomatoes', 'Walnuts, in shell', 'Wheat', 'Bananas', 'Cassava, fresh', 'Maize (corn)', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Rice', 'Sugar cane', 'Tomatoes', 'Bananas', 'Cassava, fresh', 'Coffee, green', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Onions and shallots, green', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other vegetables, fresh n.e.c.', 'Potatoes', 'Sugar cane', 'Tomatoes', 'Bananas', 'Cassava, fresh', 'Cocoa beans', 'Coffee, green', 'Groundnuts, excluding shelled', 'Maize (corn)', 'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.', 'Other pulses n.e.

IMPORT quantity data set.

In [190]:
production = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\\production_quantity.csv")
production.sample()

,Domain,Area,Element,Item,Year,Unit,Value
32722,Crops and livestock products,Ghana,Production,Maize (corn),2013,tonnes,1764477.0

In [ ]:
# Drop columns.
production.drop(columns=["Domain", "Element"],inplace=True)

In [140]:
# iterate 2010
_2010 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2010}
df2010 = pd.DataFrame.from_dict(_2010, orient="index")
df2010.rename(columns= {0: 2010, 1:"Area", 2:"Item"}, inplace = True)

In [141]:
# iterate 2011
_2011 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2011}
df2011 = pd.DataFrame.from_dict(_2011, orient="index")
df2011.rename(columns= {0: 2011, 1:"Area", 2:"Item"}, inplace = True)

In [257]:
# iterate 2012
_2012 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2012}
df2012 = pd.DataFrame.from_dict(_2012, orient="index")
df2012.rename(columns= {0: 2012, 1:"Area", 2:"Item"}, inplace = True)

IndexError: index 2 is out of bounds for axis 0 with size 2

In [143]:
# iterate 2013
_2013 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2013}
df2013 = pd.DataFrame.from_dict(_2013, orient="index")
df2013.rename(columns= {0: 2013, 1:"Area", 2:"Item"}, inplace = True)

In [144]:
# iterate 2014
_2014 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2014}
df2014 = pd.DataFrame.from_dict(_2014, orient="index")
df2014.rename(columns= {0: 2014, 1:"Area", 2:"Item"}, inplace = True)

In [153]:
# iterate 2015
_2015 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2015}
df2015 = pd.DataFrame.from_dict(_2015, orient="index")
df2015.rename(columns= {0: 2015, 1:"Area", 2:"Item"}, inplace = True)

In [154]:
# iterate 2016
_2016 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2016}
df2016 = pd.DataFrame.from_dict(_2016, orient="index")
df2016.rename(columns= {0: 2016, 1:"Area", 2:"Item"}, inplace = True)

In [155]:
# iterate 2017
_2017 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2017}
df2017 = pd.DataFrame.from_dict(_2017, orient="index")
df2017.rename(columns= {0: 2017, 1:"Area", 2:"Item"}, inplace = True)

In [156]:
# iterate 2018
_2018 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2018}
df2018 = pd.DataFrame.from_dict(_2018, orient="index")
df2018.rename(columns= {0: 2018, 1:"Area", 2:"Item"}, inplace = True)

In [157]:
# iterate 2019
_2019 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2019}
df2019 = pd.DataFrame.from_dict(_2019, orient="index")
df2019.rename(columns= {0: 2019, 1:"Area", 2:"Item"}, inplace = True)

In [158]:
# iterate 2020
_2020 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2020}
df2020 = pd.DataFrame.from_dict(_2020, orient="index")
df2020.rename(columns= {0: 2020, 1:"Area", 2:"Item"}, inplace = True)

In [159]:
# iterate 2021
_2021 = {index:[row[4],row[0],row[1]] for index, row in production.iterrows() if row[2] == 2021}
df2021 = pd.DataFrame.from_dict(_2021, orient="index")
df2021.rename(columns= {0: 2021, 1:"Area", 2:"Item"}, inplace = True)

In [160]:
# Drop columns.
production.drop(columns=["Year", "Value", "Unit","Domain", "Element"],inplace=True)

In [161]:
# drop duplicates.
production.drop_duplicates(inplace=True)

In [170]:
# Merge all df from diferent years to production.
production = pd.DataFrame.merge(production, df2010, how="left")

In [171]:
production = pd.DataFrame.merge(production, df2011, how="left")

In [172]:
production = pd.DataFrame.merge(production, df2012, how="left")

In [173]:
production = pd.DataFrame.merge(production, df2013, how="left")

In [174]:
production = pd.DataFrame.merge(production, df2014, how="left")

In [177]:
production = pd.DataFrame.merge(production, df2015, how="left")

In [178]:
production = pd.DataFrame.merge(production, df2016, how="left")

In [179]:
production = pd.DataFrame.merge(production, df2017, how="left")

In [180]:
production = pd.DataFrame.merge(production, df2018, how="left")

In [181]:
production = pd.DataFrame.merge(production, df2019, how="left")

In [182]:
production = pd.DataFrame.merge(production, df2020, how="left")

In [183]:
production = pd.DataFrame.merge(production, df2021, how="left")

In [184]:
# Drop duplicates from item and area columns.
production.drop_duplicates(subset=["Item", "Area"])

,Area,Item,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,Apples,59850.00,62041.00,70000.00,78597.00,89403.00,89733.00,140903.00,170443.00,217192.00,250324.00,270857.00,292586.58
1,Afghanistan,Barley,437000.00,305900.00,504000.00,514000.00,521000.00,403000.00,301856.00,94995.00,56781.00,123576.00,127757.00,122692.77
2,Afghanistan,"Hen eggs in shell, fresh",16344.00,17210.00,18000.00,18000.00,18500.00,19833.01,19883.74,20000.00,19905.58,22040.18,22039.10,22248.74
4098,Afghanistan,Maize (corn),301000.00,300120.00,310000.00,312000.00,316000.00,316000.00,311646.00,173912.00,106670.00,184671.00,271776.00,180000.00
4099,Afghanistan,Olive oil,595.68,538.56,538.56,545.93,658.42,711.37,740.90,763.25,812.16,833.25,821.31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
910427,Zimbabwe,Tomatoes,25000.00,22500.00,23500.00,23500.00,24271.13,25322.84,25318.39,25278.36,25306.53,25301.09,25295.33,25300.98
910428,Zimbabwe,Wheat,18000.00,23000.00,53231.78,50966.05,40000.00,45302.00,42008.00,38715.00,45000.00,94685.00,212530.00,337212.00
910429,Zimbabwe,"Whole milk, condensed",712.95,730.87,750.55,759.51,776.69,772.13,764.96,739.13,746.84,759.12,759.00,NaN
910430,Zimbabwe,"Whole milk, evaporated",4705.49,4823.47,4953.61,5012.55,5125.02,5096.70,5049.87,4878.27,4929.81,5010.21,5009.42,NaN
910431,Zimbabwe,Wine,1750.00,1750.00,1750.00,1750.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [236]:
production(production["Item"] == "cattle")

TypeError: 'DataFrame' object is not callable