# ANALYSIS.
## Area DB.

In [56]:
import pandas as pd
import regex
import warnings
warnings.filterwarnings("ignore")

import importlib
import src.analysis as an
import sys 
an = sys.path.append("\src\\analysis.py")

ModuleNotFoundError: No module named 'src'

IMPORT Area data set.

In [57]:
area = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\\area_harvested.csv", engine="python", error_bad_lines=False)
area.sample()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value
27490,QCL,Crops and livestock products,630,Puerto Rico,5312,Area harvested,112.0,Maize (corn),2015,2015,ha,4

Clean Data Base.

In [58]:
# Drop columns.
area.drop(columns=["Domain", "Domain Code", "Element Code", "Element", "Year Code"],inplace=True)

In [59]:
# Change names.
area.rename(columns={"Area Code (M49)":"Area Code", "Item Code (CPC)": "Item Code"}, inplace= True)

In [60]:
area

       Area Code         Area  Item Code    Item  Year Unit  Value
0              4  Afghanistan     1341.0  Apples  2008   ha   7000
1              4  Afghanistan     1341.0  Apples  2009   ha   8550
2              4  Afghanistan     1341.0  Apples  2010   ha   8550
3              4  Afghanistan     1341.0  Apples  2011   ha   8863
4              4  Afghanistan     1341.0  Apples  2012   ha   9148
...          ...          ...        ...     ...   ...  ...    ...
37831        716     Zimbabwe      111.0   Wheat  2017   ha  22070
37832        716     Zimbabwe      111.0   Wheat  2018   ha  16700
37833        716     Zimbabwe      111.0   Wheat  2019   ha  24186
37834        716     Zimbabwe      111.0   Wheat  2020   ha  44466
37835        716     Zimbabwe      111.0   Wheat  2021   ha  66434

[37836 rows x 7 columns]

In [61]:
def iterate_column_years (year):
    # iterate 2010
    x = {index:[row[0],row[1],row[2],row[3],row[6]] for index, row in area.iterrows() if row[4] == year}
    df = pd.DataFrame.from_dict(x, orient="index")
    df.rename(columns= {0: "Area Code", 1:"Area", 2:"Item Code", 3:"Item", 4:year}, inplace = True)
    df["Item"] = df["Item"].astype(object)
    df["Area"] = df["Area"].astype(object)
    df[year] = df[year].astype(object)
    
    return df.drop_duplicates(subset=['Area Code', 'Item Code'], keep='last')

Iteration throw each year and create column with year.

In [62]:
# iterate 2010
df2010 = iterate_column_years (2010)

In [63]:
# iterate 2011
df2011 = iterate_column_years (2011)

In [64]:
# iterate 2012
df2012 = iterate_column_years (2012)

In [65]:
# iterate 2013
df2013 = iterate_column_years (2013)

In [66]:
# iterate 2014
df2014 = iterate_column_years (2014)

In [67]:
# iterate 2015
df2015 = iterate_column_years (2015)

In [68]:
# iterate 2016
df2016 = iterate_column_years (2016)

In [69]:
# iterate 2017
df2017 = iterate_column_years (2017)

In [70]:
# iterate 2018
df2018 = iterate_column_years (2018)

In [71]:
# iterate 2019
df2019 = iterate_column_years (2019)

In [72]:
# iterate 2020
df2020 = iterate_column_years (2020)

In [73]:
# iterate 2021
df2021 = iterate_column_years (2021)

Drop columns of production and duplicates, and change types.

In [74]:
def clean2_df (df):
    df.drop(columns=["Year", "Value", "Unit"],inplace=True)
    df["Item Code"] = df["Item Code"].astype(object)
    df["Area Code"] = df["Area Code"].astype(object)
    # drop duplicates.
    df.drop_duplicates(inplace=True)
    return df

In [75]:
area = clean2_df (area)

Merge all data frames to 1.

In [76]:
def merging_production_area (df, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021):
    z = pd.merge(df, df2010, how="left").merge(df2011, how="left").merge(df2012, how="left")
    z = pd.merge(z, df2013, how="left").merge(df2014, how="left").merge(df2015, how="left")
    z = pd.merge(z, df2016, how="left").merge(df2017, how="left").merge(df2018, how="left")        
    z = pd.merge(z, df2019, how="left").merge(df2020, how="left").merge(df2021, how="left")  
    return z

In [77]:
df = merging_production (area, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021)

In [78]:
df

,Area Code,Area,Item Code,Item,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,4,Afghanistan,1341.0,Apples,8550,8863,9148,10341,12247,13038,19365,26847,28381,27559,25643,26540
1,4,Afghanistan,115.0,Barley,212000,190000,280000,278000,342472,282000,219208,68179,84147,84070,86099,84072
2,4,Afghanistan,1330.0,Grapes,61132,61558,61690,62118,78405,78681,82450,87194,87517,89593,92584,96560
3,4,Afghanistan,112.0,Maize (corn),183000,183000,141000,142000,127000,147273,151900,134225,72433,94910,140498,92144
4,4,Afghanistan,1329.0,"Other citrus fruit, n.e.c.",200,200,200,300,300,300,1662,1643,1700,3391,449,1403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2820,716,Zimbabwe,113.0,Rice,1543,1911,2833,2960,3755,4626,3780,3543,3371,2529,1260,3466
2821,716,Zimbabwe,141.0,Soya beans,42288,44672,50408,50785,60616,44155,39935,23515,37307,33136,32874,34648
2822,716,Zimbabwe,1802.0,Sugar cane,40663,42828,53486,46605,43121,43094,43500,41000,45000,46000,47000,47000
2823,716,Zimbabwe,1234.0,Tomatoes,3200,3146,3300,3300,3370,3508,3498,3481,3602,3607,3564,3591
2824,716,Zimbabwe,111.0,Wheat,6478,8645,21377,21753,18059,22114,22094,22070,16700,24186,44466,66434

In [80]:
import re
# Clean with regex column "Items" to match other Data Frames.
for index, row in df.iterrows():
    re.sub("n\.e\.c\.", "", row[3])
    re.sub(".*Other berries and fruits of the genus vaccinium.*", 'Berries & Grapes', row[3])
    re.sub('.*Onions and shallots, green*.', 'Onions & Leeks', row[3])
    re.sub(".*Beer of barley, malted*.", 'Barley (Beer)', row[3])
    re.sub(".*Barley*.", 'Barley (Beer)', row[3])
    re.sub('.*Brazil nuts, in shell*.', 'Nuts', row[3])
    re.sub(".*Cocoa beans*.", "Chocolate", row[3])
    re.sub('.*Coffee,green*.', "Coffee", row[3])
    re.sub('.*Groundnuts,excluding shelled*.', "Coffee", row[3])
    re.sub('.*Edible roots and tubers with high starch or inulin content,, fresh*.', 'Root Vegetables', row[3])
    re.sub('.*Oats*.', "Oatmeal", row[3])
    re.sub('.*Other citrus fruit,*.', 'Citrus Fruit', row[3])
    re.sub('.*Other fruits*.', 'Other Fruit', row[3])
    re.sub('.*Meat of pig with the bome, fresh or chilled', "Pig", row[3])
    re.sub('.*Meat of cattle with the bone, fresh or chilled', 'Beef', row[3])

KeyError: 3

In [52]:
print(set(df["Item"]))

{'Wheat', 'Other vegetables, fresh n.e.c.', 'Barley', 'Onions and shallots, green', 'Potatoes', 'Hazelnuts, in shell', 'Other fruits, n.e.c.', 'Peas, dry', 'Sugar beet', 'Soya beans', 'Other pulses n.e.c.', 'Rice', 'Bananas', 'Other citrus fruit, n.e.c.', 'Cocoa beans', 'Tomatoes', 'Sugar cane', 'Groundnuts, excluding shelled', 'Oats', 'Walnuts, in shell', 'Grapes', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Maize (corn)', 'Coffee, green', 'Apples'}