# ANALYSIS.
## Area DB.

In [10]:
import pandas as pd
import regex
import warnings
warnings.filterwarnings("ignore")

import importlib
import sys 
sys.path.append("..\src")
#from analysis import *
import analysis as an

IMPORT Area data set.

In [11]:
area = pd.read_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\\food_production\\area_harvested.csv")
area.sample()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value
25623,QCL,Crops and livestock products,642,Romania,5312,Area harvested,1341.0,Apples,2010,2010,ha,56373

Clean Data Base.

In [12]:
area = an.clean_df (area)

In [14]:
area.rename(columns={"Value":"area (ha)"}, inplace=True)

In [15]:
area

       Country_Code      Country  Food_Code    Food  Year Unit  area (ha)
0                 4  Afghanistan     1341.0  Apples  2010   ha       8550
1                 4  Afghanistan     1341.0  Apples  2011   ha       8863
2                 4  Afghanistan     1341.0  Apples  2012   ha       9148
3                 4  Afghanistan     1341.0  Apples  2013   ha      10341
4                 4  Afghanistan     1341.0  Apples  2014   ha      12247
...             ...          ...        ...     ...   ...  ...        ...
34355           716     Zimbabwe      111.0   Wheat  2017   ha      22070
34356           716     Zimbabwe      111.0   Wheat  2018   ha      16700
34357           716     Zimbabwe      111.0   Wheat  2019   ha      24186
34358           716     Zimbabwe      111.0   Wheat  2020   ha      44466
34359           716     Zimbabwe      111.0   Wheat  2021   ha      66434

[34360 rows x 7 columns]

In [17]:
area.to_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\csv_from_python\\area.csv", index=False)

Iteration throw each year and create column with year.

In [52]:
# iterate 2010
df2010 = an.iterate_column_years (area, 2010)

In [53]:
# iterate 2011
df2011 = an.iterate_column_years (area,2011)

In [54]:
# iterate 2012
df2012 = an.iterate_column_years (area,2012)

In [55]:
# iterate 2013
df2013 = an.iterate_column_years (area,2013)

In [56]:
# iterate 2014
df2014 = an.iterate_column_years (area,2014)

In [57]:
# iterate 2015
df2015 = an.iterate_column_years (area,2015)

In [58]:
# iterate 2016
df2016 = an.iterate_column_years (area,2016)

In [59]:
# iterate 2017
df2017 = an.iterate_column_years (area,2017)

In [60]:
# iterate 2018
df2018 = an.iterate_column_years (area,2018)

In [61]:
# iterate 2019
df2019 = an.iterate_column_years (area,2019)

In [62]:
# iterate 2020
df2020 = an.iterate_column_years (area,2020)

In [63]:
# iterate 2021
df2021 = an.iterate_column_years (area,2021)

Drop columns of production and duplicates, and change types.

In [64]:
area = an.clean2_df (area)

In [65]:
area

      Country_Code      Country Food_Code                        Food Unit
0                4  Afghanistan    1341.0                      Apples   ha
12               4  Afghanistan     115.0                      Barley   ha
24               4  Afghanistan     112.0                Maize (corn)   ha
36               4  Afghanistan    1329.0  Other citrus fruit, n.e.c.   ha
48               4  Afghanistan    1709.9         Other pulses n.e.c.   ha
...            ...          ...       ...                         ...  ...
34300          716     Zimbabwe     141.0                  Soya beans   ha
34312          716     Zimbabwe    1354.0                Strawberries   ha
34324          716     Zimbabwe    1802.0                  Sugar cane   ha
34336          716     Zimbabwe    1234.0                    Tomatoes   ha
34348          716     Zimbabwe     111.0                       Wheat   ha

[2998 rows x 5 columns]

Clean all food items for better comprehention.

In [66]:
df = an.replace_items (area)

Add ID columns for Food and Country.

In [67]:
# Create Food ID from emissions db.
df = an.food_id (df)

In [68]:
# Create ID for country.
df = an.Country_ID (df)

In [78]:
x = an.ID_cleaning (df)

Merge all data frames to 1.

In [80]:
y = an.merging_production_area (x, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021)

In [82]:
y = y.drop(columns=["Country_Code", "Food_Code"])

Export to csv.

In [86]:
y.to_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\csv_from_python\\area_harvested.csv", index=False)

Create new data base with only the food id and the Country, for exporting to SQL and having the primary key.

In [91]:
id = x.drop(columns=["Food_id", "Food", "Unit"])

In [93]:
id.drop_duplicates(inplace=True)

In [95]:
id.to_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\csv_from_python\\country_id.csv", index=False)