# ANALYSIS.
## Area DB.

In [21]:
import pandas as pd
import regex
import warnings
warnings.filterwarnings("ignore")

import importlib
import sys 
sys.path.append("..\src")
#from analysis import *
import analysis as an

IMPORT Area data set.

In [22]:
area = pd.read_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\\food_production\\area_harvested.csv")
area.sample()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value
15532,QCL,Crops and livestock products,380,Italy,5312,Area harvested,1290.9,"Other vegetables, fresh n.e.c.",2018,2018,ha,0

Clean Data Base.

In [23]:
area = an.clean_df (area)

In [26]:
area

       Country_Code      Country  Food_Code    Food  Year Unit  Value
0                 4  Afghanistan     1341.0  Apples  2010   ha   8550
1                 4  Afghanistan     1341.0  Apples  2011   ha   8863
2                 4  Afghanistan     1341.0  Apples  2012   ha   9148
3                 4  Afghanistan     1341.0  Apples  2013   ha  10341
4                 4  Afghanistan     1341.0  Apples  2014   ha  12247
...             ...          ...        ...     ...   ...  ...    ...
34355           716     Zimbabwe      111.0   Wheat  2017   ha  22070
34356           716     Zimbabwe      111.0   Wheat  2018   ha  16700
34357           716     Zimbabwe      111.0   Wheat  2019   ha  24186
34358           716     Zimbabwe      111.0   Wheat  2020   ha  44466
34359           716     Zimbabwe      111.0   Wheat  2021   ha  66434

[34360 rows x 7 columns]

Iteration throw each year and create column with year.

In [24]:
# iterate 2010
df2010 = an.iterate_column_years (area, 2010)

In [25]:
df2010

,Country_Code,Country,Food_Code,Food,2010
0,4,Afghanistan,1341.0,Apples,8550
12,4,Afghanistan,115.0,Barley,212000
24,4,Afghanistan,112.0,Maize (corn),183000
36,4,Afghanistan,1329.0,"Other citrus fruit, n.e.c.",200
48,4,Afghanistan,1709.9,Other pulses n.e.c.,71700
...,...,...,...,...,...
34300,716,Zimbabwe,141.0,Soya beans,42288
34312,716,Zimbabwe,1354.0,Strawberries,51
34324,716,Zimbabwe,1802.0,Sugar cane,40663
34336,716,Zimbabwe,1234.0,Tomatoes,3200
34348,716,Zimbabwe,111.0,Wheat,6478

In [5]:
# iterate 2011
df2011 = an.iterate_column_years (area,2011)

In [6]:
# iterate 2012
df2012 = an.iterate_column_years (area,2012)

In [7]:
# iterate 2013
df2013 = an.iterate_column_years (area,2013)

In [8]:
# iterate 2014
df2014 = an.iterate_column_years (area,2014)

In [9]:
# iterate 2015
df2015 = an.iterate_column_years (area,2015)

In [10]:
# iterate 2016
df2016 = an.iterate_column_years (area,2016)

In [11]:
# iterate 2017
df2017 = an.iterate_column_years (area,2017)

In [12]:
# iterate 2018
df2018 = an.iterate_column_years (area,2018)

In [13]:
# iterate 2019
df2019 = an.iterate_column_years (area,2019)

In [14]:
# iterate 2020
df2020 = an.iterate_column_years (area,2020)

In [15]:
# iterate 2021
df2021 = an.iterate_column_years (area,2021)

Drop columns of production and duplicates, and change types.

In [16]:
area = an.clean2_df (area)

Merge all data frames to 1.

In [17]:
df = an.merging_production_area (area, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021)

Clean Food names for matching other df.

In [19]:
df = an.replace_items (df)

In [20]:
df

,Country_Code,Country,Food_Code,Food,Unit,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,4,Afghanistan,1341.0,Apples,ha,8550,8863,9148,10341,12247,13038,19365,26847,28381,27559,25643,26540
1,4,Afghanistan,115.0,Beer,ha,212000,190000,280000,278000,342472,282000,219208,68179,84147,84070,86099,84072
2,4,Afghanistan,112.0,Maize (Corn),ha,183000,183000,141000,142000,127000,147273,151900,134225,72433,94910,140498,92144
3,4,Afghanistan,1329.0,Citrus Fruit,ha,200,200,200,300,300,300,1662,1643,1700,3391,449,1403
4,4,Afghanistan,1709.9,Other Pulses,ha,71700,81000,86368,74113,79746,143555,111894,52243,61166,67114,69104,77466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2993,716,Zimbabwe,141.0,Beet Sugar,ha,42288,44672,50408,50785,60616,44155,39935,23515,37307,33136,32874,34648
2994,716,Zimbabwe,1354.0,Berries & Grapes,ha,51,51,50,50,51,51,51,51,51,50,50,50
2995,716,Zimbabwe,1802.0,Sugar Cane,ha,40663,42828,53486,46605,43121,43094,43500,41000,45000,46000,47000,47000
2996,716,Zimbabwe,1234.0,Tomatoes,ha,3200,3146,3300,3300,3370,3508,3498,3481,3602,3607,3564,3591
2997,716,Zimbabwe,111.0,Wheat,ha,6478,8645,21377,21753,18059,22114,22094,22070,16700,24186,44466,66434

Export to csv.

In [190]:
df.to_csv("D:\ironhack\proyectos\_proy4\csv\csv_from_python\\area_harvested.csv", index=False)