# ANALYSIS.
## Producer price DB.

In [1]:
import pandas as pd
import regex
import warnings
warnings.filterwarnings("ignore")

import importlib
import sys 
sys.path.append("..\src")
#from analysis import *
import analysis as an
importlib.reload(an)

IMPORT roducer price data set.

In [2]:
price= pd.read_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\\food_production\producer_price.csv")
price.sample()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Months Code,Months,Unit,Value
18092,PP,Producer Prices,894,Zambia,5532,Producer Price (USD/tonne),142.0,"Groundnuts, excluding shelled",2014,2014,7021,Annual value,USD,465.3

Clean Data Base.

In [3]:
price = an.clean_df_price (price)

In [6]:
price.rename(columns={"Value":"Price"}, inplace=True)

In [7]:
price

       Country_Code   Country  Food_Code    Food  Year Unit  Price
0                 8   Albania     1341.0  Apples  2010  USD  356.0
1                 8   Albania     1341.0  Apples  2011  USD  386.5
2                 8   Albania     1341.0  Apples  2012  USD  369.7
3                 8   Albania     1341.0  Apples  2013  USD  492.1
4                 8   Albania     1341.0  Apples  2014  USD  474.8
...             ...       ...        ...     ...   ...  ...    ...
18203           716  Zimbabwe      111.0   Wheat  2014  USD  466.0
18204           716  Zimbabwe      111.0   Wheat  2015  USD  500.0
18205           716  Zimbabwe      111.0   Wheat  2016  USD  500.0
18206           716  Zimbabwe      111.0   Wheat  2017  USD  500.0
18207           716  Zimbabwe      111.0   Wheat  2018  USD  621.5

[18208 rows x 7 columns]

Iteration throw each year and create column with year.

In [22]:
# iterate 2010
df2010 = an.iterate_column_years (price, 2010)

In [23]:
# iterate 2011
df2011 = an.iterate_column_years (price, 2011)

In [24]:
# iterate 2012
df2012 = an.iterate_column_years (price, 2012)

In [25]:
# iterate 2013
df2013 = an.iterate_column_years (price, 2013)

In [26]:
# iterate 2014
df2014 = an.iterate_column_years (price, 2014)

In [27]:
# iterate 2015
df2015 = an.iterate_column_years (price, 2015)

In [28]:
# iterate 2016
df2016 = an.iterate_column_years (price, 2016)

In [29]:
# iterate 2017
df2017 = an.iterate_column_years (price, 2017)

In [30]:
# iterate 2018
df2018 = an.iterate_column_years (price, 2018)

In [31]:
# iterate 2019
df2019 = an.iterate_column_years (price, 2019)

In [32]:
# iterate 2020
df2020 = an.iterate_column_years (price, 2020)

Drop columns of production and duplicates, and change types.

In [33]:
price = an.clean2_df (price)

Clean all food items for better comprehention.

In [34]:
df = an.replace_items (price)

Add ID columns for food anc country.

In [36]:
# Create Food ID from emissions db.
x = an.food_id (df)

In [38]:
# Create ID for country.
y = an.Country_ID (x)

In [40]:
df = an.ID_cleaning (y)

Merge all data frames to 1.

In [42]:
all = an.merging_price (df, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020)

In [44]:
y = all.drop(columns=["Country_Code", "Food_Code"])

Export to csv.

In [9]:
price.to_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\csv_from_python\price.csv", index=False)