# ANALYSIS.
## Producer price DB.

In [1]:
import pandas as pd
import regex
import warnings
warnings.filterwarnings("ignore")

import importlib
import sys 
sys.path.append("..\src")
#from analysis import *
import analysis as an
importlib.reload(an)

IMPORT roducer price data set.

In [15]:
price= pd.read_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\\food_production\producer_price.csv")
price.sample()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Months Code,Months,Unit,Value
10897,PP,Producer Prices,504,Morocco,5532,Producer Price (USD/tonne),1234.0,Tomatoes,2010,2010,7021,Annual value,USD,238.8

Clean Data Base.

In [39]:
price = an.clean_df_price (price)

Iteration throw each year and create column with year.

In [40]:
# iterate 2010
df2010 = an.iterate_column_years (price, 2010)

In [41]:
# iterate 2011
df2011 = an.iterate_column_years (price, 2011)

In [42]:
# iterate 2012
df2012 = an.iterate_column_years (price, 2012)

In [43]:
# iterate 2013
df2013 = an.iterate_column_years (price, 2013)

In [44]:
# iterate 2014
df2014 = an.iterate_column_years (price, 2014)

In [45]:
# iterate 2015
df2015 = an.iterate_column_years (price, 2015)

In [46]:
# iterate 2016
df2016 = an.iterate_column_years (price, 2016)

In [47]:
# iterate 2017
df2017 = an.iterate_column_years (price, 2017)

In [48]:
# iterate 2018
df2018 = an.iterate_column_years (price, 2018)

In [49]:
# iterate 2019
df2019 = an.iterate_column_years (price, 2019)

In [50]:
# iterate 2020
df2020 = an.iterate_column_years (price, 2020)

Drop columns of production and duplicates, and change types.

In [51]:
price = an.clean2_df (price)

Merge all data frames to 1.

In [52]:
df = an.merging_price (price, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020)

In [53]:
df = an.replace_items (df)

Export to csv.

In [54]:
df.to_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\csv_from_python\producer_price.csv", index=False)

In [18]:
x = price[price.Area == "France"]
x

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Months Code,Months,Unit,Value
5859,PP,Producer Prices,250,France,5532,Producer Price (USD/tonne),1341.0,Apples,2010,2010,7021,Annual value,USD,640.0
5860,PP,Producer Prices,250,France,5532,Producer Price (USD/tonne),1341.0,Apples,2011,2011,7021,Annual value,USD,616.2
5861,PP,Producer Prices,250,France,5532,Producer Price (USD/tonne),1341.0,Apples,2012,2012,7021,Annual value,USD,837.3
5862,PP,Producer Prices,250,France,5532,Producer Price (USD/tonne),1341.0,Apples,2013,2013,7021,Annual value,USD,831.8
5863,PP,Producer Prices,250,France,5532,Producer Price (USD/tonne),1341.0,Apples,2014,2014,7021,Annual value,USD,691.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6083,PP,Producer Prices,250,France,5532,Producer Price (USD/tonne),111.0,Wheat,2016,2016,7021,Annual value,USD,160.0
6084,PP,Producer Prices,250,France,5532,Producer Price (USD/tonne),111.0,Wheat,2017,2017,7021,Annual value,USD,158.0
6085,PP,Producer Prices,250,France,5532,Producer Price (USD/tonne),111.0,Wheat,2018,2018,7021,Annual value,USD,195.1
6086,PP,Producer Prices,250,France,5532,Producer Price (USD/tonne),111.0,Wheat,2019,2019,7021,Annual value,USD,183.3
6087,PP,Producer Prices,250,France,5532,Producer Price (USD/tonne),111.0,Wheat,2020,2020,7021,Annual value,USD,200.4