# ANALYSIS.
## Production DB.

In [1]:
import pandas as pd
import regex
import warnings
warnings.filterwarnings("ignore")

import importlib
import sys 
sys.path.append("..\src")
#from analysis import *
import analysis as an
importlib.reload(an)

IMPORT quantity data set.

In [8]:
production = pd.read_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\\food_production\production_quantity.csv")

Clean Data Base

In [9]:
production = an.clean_df (production)

In [10]:
production.rename(columns={"Value":"tonnes"}, inplace=True)

In [11]:
production

       Country_Code      Country  Food_Code    Food  Year    Unit    tonnes
0                 4  Afghanistan    1341.00  Apples  2010  tonnes   59850.0
1                 4  Afghanistan    1341.00  Apples  2011  tonnes   62041.0
2                 4  Afghanistan    1341.00  Apples  2012  tonnes   70000.0
3                 4  Afghanistan    1341.00  Apples  2013  tonnes   78597.0
4                 4  Afghanistan    1341.00  Apples  2014  tonnes   89403.0
...             ...          ...        ...     ...   ...     ...       ...
57552           716     Zimbabwe     111.00   Wheat  2021  tonnes  337212.0
57553           716     Zimbabwe   24212.02    Wine  2010  tonnes    1750.0
57554           716     Zimbabwe   24212.02    Wine  2011  tonnes    1750.0
57555           716     Zimbabwe   24212.02    Wine  2012  tonnes    1750.0
57556           716     Zimbabwe   24212.02    Wine  2013  tonnes    1750.0

[57557 rows x 7 columns]

In [12]:
production.to_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\csv_from_python\production.csv", index=False)

Iteration throw each year and create column with year.

In [253]:
# iterate 2010
df2010 = an.iterate_column_years (production, 2010)

In [254]:
# iterate 2011
df2011 = an.iterate_column_years (production, 2011)

In [255]:
# iterate 2012
df2012 = an.iterate_column_years (production, 2012)

In [256]:
# iterate 2013
df2013 = an.iterate_column_years (production, 2013)

In [257]:
# iterate 2014
df2014 = an.iterate_column_years (production, 2014)

In [258]:
# iterate 2015
df2015 = an.iterate_column_years (production, 2015)

In [259]:
# iterate 2016
df2016 = an.iterate_column_years (production, 2016)

In [260]:
# iterate 2017
df2017 = an.iterate_column_years (production, 2017)

In [261]:
# iterate 2018
df2018 = an.iterate_column_years (production, 2018)

In [262]:
# iterate 2019
df2019 = an.iterate_column_years (production, 2019)

In [263]:
# iterate 2020
df2020 = an.iterate_column_years (production, 2020)

In [264]:
# iterate 2021
df2021 = an.iterate_column_years (production, 2021)

Drop columns of production and duplicates, and change types.

In [265]:
production = an.clean2_df (production)

In [266]:
# delete the rows where column Unit is "1000 No".
production = production[production["Unit"] != "1000 No"]

Clean all food items for better comprehention.

In [267]:
df = an.replace_items (production)

Add ID columns for Food and Country.

In [269]:
# Create Food ID from emissions db.
df = an.food_id (df)

In [270]:
# Create ID for country.
df = an.Country_ID (df)

In [ ]:
df = an.ID_cleaning (df)

Merge all data frames to 1.

In [275]:
df = an.merging_production_area (production, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021)

Export to csv.

In [277]:
df.to_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\csv_from_python\production_quantity.csv", index=False)